<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utility.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Regression">
        <classes>

            <class name="testcases.api.us.regression.PartnerApi">
            <methods><include name="tokengeneration"/>
            <include name="instaquote_offer_with_VIN"/>
                <include name="Saveuserinfo"/>
            </methods>
        </class>

        </classes>
    </test>
</suite>